.email-input {
    display: inline-block;
    width: 50%;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid #888;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;

    &:focus {
        outline: none;
    } 
}